html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	/*line-height: 2rem;*/
	margin: 0;
}

.header {
	background-color: #3498db;
	border-bottom: 1px solid #bdc3c7;
	line-height: 2rem;
	text-align: center;
	/*padding: 1em 0;*/
	position: relative;
	z-index: 10;
}

.title {
	line-height: 3rem;
	color: white;
	margin: 0;
	padding: .5em;
}

.spacer {
	/*position: absolute;*/
	padding-top: 66px;
}

.sidebar {
	background-color: #ecf0f1;
	border-right: 1px solid #bdc3c7;
	float: left;
	height: 100%;
	overflow: auto;
	position: absolute;
	text-align: center;
	width: 250px;
	z-index: 1;
	top: 0;
	left: 0;
}

h2 {
	font-size: 20px !important;
}

.course-nav {
	margin-bottom: 1em;
}
.styled-select {
	margin: 0 auto;
}
.styled-select select {
	background: transparent;
	border: 1px solid #bdc3c7;
	border-radius: 3px;
	font-size: 16px;
	height: 32px;
	padding: 5px;
	width: 180px;
	-webkit-appearance: none;
}

select option {
	font-size: 15px;
}

#courseDept {
	width: 180px;
	margin: 0 auto 1em;
}
#selectCourse {
	display: block;
	visibility: hidden;
	text-align: center;
	margin: 0 auto 1em;
	width: 180px;
}
#selectSection {
	display: block;
	visibility: hidden;
	margin: 0 auto 1em;
	width: 180px;
}
#addSection {
	display: inline-block;
	visibility: hidden;
	margin-bottom: 0 auto 1em;
	width: 50px;
}
#selectLab {
	display: none;
	margin-bottom: 0 auto 1em;
	width: 180px;
}

.calendar {
	position: relative;
	/*float: right;*/
	left: 250px;
	overflow: auto;
	max-width: 1600px;
}

.side-spacer {
	width: 250px;
}
